@import 'variables';

.about {
  background-color: $color-lightGreen;
  color: #000;
  margin: 0;

  h4 {
      font-size: 1.25em;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 3px;
      margin-bottom: 10px;
      font-weight: 400;
    }

  .blurb, .education-section {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }

  .education-section, .skills-section {
    text-align: center;
    // width: 80%;
    // max-width: 900px;
    font-size: .9em;
  }

  .education-list {
    // text-align: center;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    // white-space: nowrap;
    li {
      list-style-type: none;
      margin-bottom: 8px;
      line-height: 1.6;
    }
  }
}

.italic {
  font-style: italic;
}

// small screen styles
@media screen and (max-width: 620px) {
  .about {
    font-size: .8em;
  }
  .about .education-section {
    text-align: left;
    margin: 0;
    width: 90%;

    h4, .education-list {
      margin-left: 5%;
    }
  }

  .education-list {
    text-align: left;
    padding-left: 0;
    font-size: .85em;
  }
}