// cloud styles

@keyframes myanimation {
  0% {
    left: -200px;
  }
  100% {
    left: 120%;
  }
}

.foreground-cloud {
  position: absolute;
  left: -200px;
}

.background-cloud {
  @extend .foreground-cloud;
  left: -80px;
}

.background-cloud:before,
.foreground-cloud:before {
  /*fix for bug that left trails as cloud moved across the screen*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);

  position: absolute;
  font-family: weathericons;
  top: 0;
  left: 0;
  content: "\f041";
}
