@import 'variables';

.footer {
	background-color: $color-lightGreen;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 0;
	padding: 30px;


	h3 {
		margin-bottom: 20px;
	}
	a {
		margin: 0 10px;
		position: relative;
		color: $color-purple;
		transition: all .2s ease-in;
	}
	a:hover {
		color: #000;
		top: 3px;
	}
}

small {
	color: #000;
}