@import 'variables';

.header {
  height: 500px;
  min-width: 500px;
  max-width: 960px;

  h1 {
    padding-top: 80px;
    padding-left: 20px;
  }


  h1, h2 {
    text-align: left;
    font-family: $font-title;
    font-weight: 400;
    letter-spacing: .3em;
  }
  background-color: #293f50;
  background: url('../assets/hills.jpg') no-repeat 80% fixed;
  background-size: cover;
}

.indent {
  padding-left: 30px;
}