// Use html.can-touch for touch screens

@import 'variables';

// @import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
  height: 100%;
}

body {
  background-color: $background-color;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin: 0 auto;
}

// .wrapper {
//   max-width: $maxPageWidth;
//   margin: 0 auto;
//   padding: 0;
// }

a {
  padding: 0;
}

a {
    color: $color-purple;
    transition: all .2s ease-in;
    text-decoration: none;
    border-bottom: 2px solid $color-purple;
  }

a:visited {
  color: $color-purple;
}


a:hover {
      color: #000;
      border-color: #000;
  }

// for touch screens - removes sticky hover issue
html.can-touch a:hover {
  color: $color-purple;
  border-color: $color-purple;
}


h1, h2, h3, h4, h5, h6, {
  margin: 0;
  font-family: $font-title;
}

h3 {
	font-weight: bold;
	color: #000;
  text-transform: uppercase;
	font-size: 20px;
	letter-spacing: .5em;
	font-variant: small-caps;
  margin-bottom: 20px;
}

section {
  padding: 30px 0;
}

p {
  text-align: left;
}

// prevent image overflowing containers
img {
  max-width: 100%
}

button {
  border: 0;
  outline: 0;
  padding: 1.5em 2em 1.5em 2em;
  box-shadow: -1px 1px 2px #000;
  background-color: $color-red;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

/* ensures hover styles are only applied to non-touch devices */
@media (hover:hover) {
  button:hover, button:active {

    position: relative;
    top: 1px;
    right: 1px;
    box-shadow: none;
  }
}

