.wide-nav {
	display: none;
  position: absolute;
	height: 50px;
	text-align: right;
	width: 100%;
	background-color: rgba(128, 128, 128, .85);
	margin: 0;
	top: 0;
	left: 0;
	box-shadow: 0 3px 5px black;
	z-index: 999;

  li {
	display: inline-block;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
  cursor: pointer;
	border: 0;
  transition: border .1s ease-in;
  }

  li:hover {
  border-bottom: 5px solid #fff;  
  padding-bottom: 2px;
  
  top: -3px;

	}

}

/*
#main-nav li:hover {
	background-color: #fff;
	color: #000;
}
*/

// nav {
// 	width: 100%;
// 	position: absolute;
// 	height: 50px;

// 	// overflow: hidden;
// 	padding: 1em;

// 	.wide-nav {
// 		display: none;
// 		margin: 0 auto;
// 	}
// 	.wide-div {
// 		text-align: right;

// 		li {
// 			display: inline-block;
// 			padding: 0 2em;
// 		}
// 	}

// 	.narrow-nav {
// 		i {
// 			float: right;
// 			padding-right: 20px;
// 		}
// 		li {
// 			display: block;
// 			float: left;
// 			clear: right;
// 			padding: 0.5em 0;
// 		}
// 	}
// }

// .hidden {
// 	display: none;
// }



.sideBar {
	position: fixed;
	transition: all .2s cubic-bezier(.6, 2, .9, 1);
	top: 0;
	bottom: 0;
	right: -30px;
	width: 170px;
	background: #333;
	color: #fff;
	z-index: 100;

	li {
		padding: 10px;
		text-align: center;
		list-style-type: none;
	}

	.fa-bars {
		text-align: left;
		position: relative;
		right: 110px;
	}
}

.hidden {
	right: -180px;
}


@media (min-width: 480px) {
	.sideBar {
		display: none;
	}
}