@import 'variables';

// for div that contains list of projects
.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  max-width: 960px;
  margin: 0 auto 25px auto;

  .project-name {
    font-size: 1em;
    height: 30px;
    // height: 200px;
  }
}


// for individual showcase project
.project-container {
  width: 250px;
  height: 300px;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
}

// for individual 'show more' project
.more-project-container {
  @extend .project-container;
  margin-bottom: 100px;
}

.project {
  border: 3px solid #000;
  border-radius: 20%;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: 50%;
  transition: all .2s cubic-bezier(.6, 2, .9, 1);
  margin: 0 auto;
  margin-bottom: 15px;
  box-shadow: -3px 3px 10px #333;
  
  &:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: -6px 6px 20px #333;
    background-color: rgba(0, 0, 0, 0)
  }
}

// cancels hover effect on touchscreens
html.can-touch .project:hover {
		-webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.project-links {
  margin-bottom: 5px;

  a {
    color: $color-purple;
    transition: all .2s ease-in;
    text-decoration: none;
    border-bottom: 2px solid $color-purple;

  }
  a:hover {
		color: #000;
    border-color: #000;
	}
}

.techList {
  font-style: italic; 
  font-size: .75em;
  color: $color-red;
  margin-bottom: 3px;
}

.project-description {
  text-align: center;
  font-size: .75em;
}

// container holding additional projects after user clicks 'more projects' button
// projects nested in this div will be smaller
.moreProjects-container {
  @extend .projects-container;

  margin-top: 30px;
  

  .project-name {
    font-size: .75em;
    height: 30px;
    font-weight: bold;
  }

  .project-links {
    font-size: .75em;
  }

  .project-container {
    width: 150px;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .project {
    width: 100px;
    height: 100px;
  }
}

// .project-name {
//   font-size: 1.2em;
// }

.more-projects {
  display: inline-block;
}

.btn-showMoreProjects {
  display: block;
  margin: 0 auto;
}

// react transition classes for animating more projects panel
.moreProjects-enter {
  opacity: 0.01;
  max-height: 0px;
}

.moreProjects-enter.moreProjects-enter-active {
  opacity: 1;
  max-height: 1000px;
  transition: all 1000ms;
}

.moreProjects-leave {
  opacity: 1;
  max-height: 1000px;
}

.moreProjects-leave.moreProjects-leave-active {
  opacity: 0.01;
  max-height: 0px;
  transition: all 950ms;
}

