@import 'variables';

.resume-download-component {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  padding: 30px;
  padding-bottom: 50px;

  a {
    color: $color-green;
    border-color: $color-green;
    margin: 0;
    position: relative;
    transition: all .2s ease-in;
    text-decoration: none;
    border: 0;

    &:visited {
      color: $color-green;
    }

    &:hover {
      top: 3px;
      color: #fff;
      border-color: #fff;
    }
  }
}

// cancels hover effect on touchscreens
html.can-touch .resume-download-component {
  a:hover {
    color: $color-green;
    top: 0;
  }
}
