
$font-stack: Helvetia, sans-serif;
$font-title: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #f9f9f9;
$color-red: #f02467;

$color-lightGreen: #EEF7F6;
$about-color: #f7f7f7;

$color-purple: #9778CA;
$color-green: #b6e9f3;

$maxPageWidth: 1200px;

$cubic-bezier: all .2s cubic-bezier(.6, 2, .9, 1);
