// @import url('https://fonts.googleapis.com/css?family=Raleway');

$font-stack: Helvetia, sans-serif;
$font-title: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #008090;